.buttonDelete{
    border: none;
    border-radius: 0.4rem;
    padding: 10px 15px;
    background-color: rgb(255, 38, 0);
    color: black;
    font-weight: 500;
    margin: 10px;
}
/*===================================*/
.buttonConfirm{
    border: none;
    border-radius: 0.4rem;
    padding: 10px 15px;
    background-color: rgb(0, 132, 255);
    color: black;
    font-weight: 500;
    margin: 10px;
}
.buttonCancel{
    border: none;
    border-radius: 0.4rem;
    padding: 10px 15px;
    background-color: rgb(81, 84, 85);
    color: black;
    font-weight: 500;
    margin: 10px;
}/*==================================*/
.buttonLink{
    display: block;
    border: none;
    padding: 15px 20px;
    font-weight: 500;
}